<div fxLayout="column nowrap" fxLayoutALign="space-between center" style="min-height: 250px;">
  <div fxFill fxFlex="1 1 auto" class="title">
    {{data.name.split(' ')[0] + '\'s Expenses'}} - {{amount}}
  </div>
  <div fxFill fxFlex="1 1 auto" fxLayout="row wrap" fxLayoutAlign="center center">
    <span fxFlex="20" class="input_class" (click)="method = method==='add'?'remove':'add'" style="cursor: pointer;">
      <i class="material-icons"> {{method}} </i>
    </span>
    <input fxFlex="20" type="string" matInput placeholder="0" class="input_class" *ngFor="let i of amount"
      [(ngModel)]="i">
  </div>
  <div fxFill fxFlex="1 1 auto">
    <button mat-flat-button class="custom_theme_btn" [mat-dialog-close]="'okay'" tabindex="-1"
      style="width: 100%">OKAY</button>
  </div>
</div>