<div fxLayout="column">
  <div>
    <mat-toolbar class="custom_header" fxLayout fxLayoutAlign="space-between center">
      <div fxLayout fxLayoutAlign="space-between center">
        <div class="logo_bg">
          <span style="padding: 0px 10px;"></span>
        </div>
        <div fxLayout fxLayoutAlign="start center" fxShow fxHide.lt-md>
          <div>
            <span class="custom_span">
              <mat-icon class="custom_icon">book</mat-icon>
              Menu 1
            </span>
          </div>
          <div class="">
            <span class="custom_span">
              <mat-icon class="custom_icon">book</mat-icon>
              Menu 1
            </span>
          </div>
          <div>
            <span class="custom_span" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
              <!-- (mouseover)="menuTrigger.openMenu()" -->
              <mat-icon class="custom_icon">assignment</mat-icon>
              Dropdown Menu
            </span>

            <mat-menu #menu="matMenu">
              <!-- (mouseleave)="menuTrigger.closeMenu()" -->
              <span>
                <button mat-menu-item>
                  <mat-icon>dialpad</mat-icon>
                  <span>Redial</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>notifications_off</mat-icon>
                  <span>Disable alerts</span>
                </button>
              </span>
            </mat-menu>
          </div>
        </div>
      </div>
      <div fxLayout fxLayoutAlign="end center">
        <div fxShow fxHide.lt-md>
          <span class="custom_span">
            <mat-icon class="custom_icon">launch</mat-icon>
            Logout
          </span>
        </div>
        <div fxShow fxHide.gt-sm>
          <span class="custom_span" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="animals">
            <mat-icon class="custom_icon">menu</mat-icon>
            Menu
          </span>

          <mat-menu #animals="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
            <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
          </mat-menu>

          <mat-menu #vertebrates="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
            <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
            <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
            <button mat-menu-item>Birds</button>
            <button mat-menu-item>Mammals</button>
          </mat-menu>

          <mat-menu #invertebrates="matMenu">
            <button mat-menu-item>Insects</button>
            <button mat-menu-item>Molluscs</button>
            <button mat-menu-item>Crustaceans</button>
            <button mat-menu-item>Corals</button>
            <button mat-menu-item>Arachnids</button>
            <button mat-menu-item>Velvet worms</button>
            <button mat-menu-item>Horseshoe crabs</button>
          </mat-menu>

          <mat-menu #fish="matMenu">
            <button mat-menu-item>Baikal oilfish</button>
            <button mat-menu-item>Bala shark</button>
            <button mat-menu-item>Ballan wrasse</button>
            <button mat-menu-item>Bamboo shark</button>
            <button mat-menu-item>Banded killifish</button>
          </mat-menu>

          <mat-menu #amphibians="matMenu">
            <button mat-menu-item>Sonoran desert toad</button>
            <button mat-menu-item>Western toad</button>
            <button mat-menu-item>Arroyo toad</button>
            <button mat-menu-item>Yosemite toad</button>
          </mat-menu>

          <mat-menu #reptiles="matMenu">
            <button mat-menu-item>Banded Day Gecko</button>
            <button mat-menu-item>Banded Gila Monster</button>
            <button mat-menu-item>Black Tree Monitor</button>
            <button mat-menu-item>Blue Spiny Lizard</button>
            <button mat-menu-item disabled>Velociraptor</button>
          </mat-menu>

        </div>
      </div>
    </mat-toolbar>
  </div>
  <div style="margin-top: 6%;" fxLayout fxLayoutAlign="start center">
    <mat-drawer-container class="example-container">
      <mat-drawer mode="side" opened>
        <mat-card fxLayout="column" fxLayoutAlign="start center">
          ASD
        </mat-card>
      </mat-drawer>
      <mat-drawer-content>
        <div>
          ghbkjlm;
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
</div>