<mat-toolbar class="custom_header">

  <span style="padding: 0px 10px; text-align: center;">
    <img src="../assets/images/facebook-logo.svg" style="width: 120px; cursor: pointer;">
  </span>
  <span class="custom_span">
    <mat-icon class="example-icon custom_icon">favorite</mat-icon>
    ftugyhukljik
  </span>
  <span class="custom_span">
    <mat-icon class="example-icon custom_icon">favorite</mat-icon>
    ftugyhukljik
  </span>
  <span style="flex: 1 1 auto;"></span>
  <span class="custom_span">
    <mat-icon class="example-icon custom_icon">launch</mat-icon>
    Logout
  </span>

</mat-toolbar>