<mat-toolbar class="custom_header flex-container">

  <div class="logo_bg flex-item">
    <span style="padding: 0px 10px;"></span>
  </div>


  <div class="web_view flex-item flex-container" fxLayout="row" fxShow fxHide.sm fxHide.xs>
    <div class="flex-item">
      <span class="custom_span">
        <mat-icon class="custom_icon">book</mat-icon>
        Menu 1
      </span>
    </div>
    <div class="flex-item">
      <span class="custom_span">
        <mat-icon class="custom_icon">person</mat-icon>
        Menu 2
      </span>
    </div>
    <div class="flex-item">
      <span class="custom_span" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
        <!-- (mouseover)="menuTrigger.openMenu()" -->
        <mat-icon class="custom_icon">assignment</mat-icon>
        Dropdown Menu
      </span>

      <mat-menu #menu="matMenu">
        <!-- (mouseleave)="menuTrigger.closeMenu()" -->
        <span>
          <button mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span>Redial</span>
          </button>
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
        </span>
      </mat-menu>

    </div>

    <span fxFlex="1 1 auto"></span>

    <div class="flex-item">
      <span class="custom_span">
        <mat-icon class="custom_icon">launch</mat-icon>
        Logout
      </span>
    </div>
  </div>

  <div class="mobile_view flex-item flex-container" fxShow fxHide.md fxHide.lg fxHide.xl>
    <span fxFlex="1 1 auto"></span>
    <span [matMenuTriggerFor]="animals">
      <mat-icon class="custom_icon">book</mat-icon>
    </span>

    <mat-menu #animals="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
      <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
    </mat-menu>

    <mat-menu #vertebrates="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
      <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
      <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
      <button mat-menu-item>Birds</button>
      <button mat-menu-item>Mammals</button>
    </mat-menu>

    <mat-menu #invertebrates="matMenu">
      <button mat-menu-item>Insects</button>
      <button mat-menu-item>Molluscs</button>
      <button mat-menu-item>Crustaceans</button>
      <button mat-menu-item>Corals</button>
      <button mat-menu-item>Arachnids</button>
      <button mat-menu-item>Velvet worms</button>
      <button mat-menu-item>Horseshoe crabs</button>
    </mat-menu>

    <mat-menu #fish="matMenu">
      <button mat-menu-item>Baikal oilfish</button>
      <button mat-menu-item>Bala shark</button>
      <button mat-menu-item>Ballan wrasse</button>
      <button mat-menu-item>Bamboo shark</button>
      <button mat-menu-item>Banded killifish</button>
    </mat-menu>

    <mat-menu #amphibians="matMenu">
      <button mat-menu-item>Sonoran desert toad</button>
      <button mat-menu-item>Western toad</button>
      <button mat-menu-item>Arroyo toad</button>
      <button mat-menu-item>Yosemite toad</button>
    </mat-menu>

    <mat-menu #reptiles="matMenu">
      <button mat-menu-item>Banded Day Gecko</button>
      <button mat-menu-item>Banded Gila Monster</button>
      <button mat-menu-item>Black Tree Monitor</button>
      <button mat-menu-item>Blue Spiny Lizard</button>
      <button mat-menu-item disabled>Velociraptor</button>
    </mat-menu>
  </div>

</mat-toolbar>


<mat-toolbar class="custom_header">

  <div class="logo_bg">
    <span style="padding: 0px 10px;"></span>
  </div>

  <div fxFlex fxLayout fxLayoutAlign="start" fxHide.xs>

    <ul fxLayout>

      <li>
        <span class="custom_span">
          <mat-icon class="custom_icon">book</mat-icon>
          Menu 1
        </span>
      </li>

      <li>
        <span class="custom_span">
          <mat-icon class="custom_icon">book</mat-icon>
          Menu 2
        </span>
      </li>

      <li>
        <span class="custom_span" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu">
          <!-- (mouseover)="menuTrigger.openMenu()" -->
          <mat-icon class="custom_icon">assignment</mat-icon>
          Dropdown Menu
        </span>

        <mat-menu #menu="matMenu">
          <!-- (mouseleave)="menuTrigger.closeMenu()" -->
          <span>
            <button mat-menu-item>
              <mat-icon>dialpad</mat-icon>
              <span>Redial</span>
            </button>
            <button mat-menu-item>
              <mat-icon>notifications_off</mat-icon>
              <span>Disable alerts</span>
            </button>
          </span>
        </mat-menu>
      </li>

    </ul>

  </div>

  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>

    <ul fxLayout fxLayoutGap="20px">

      <li>
        <span class="custom_span">
          <mat-icon class="custom_icon">launch</mat-icon>
          Logout
        </span>
      </li>

    </ul>

  </div>



</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened>Sidenav content</mat-sidenav>
  <mat-sidenav-content>Main content</mat-sidenav-content>
</mat-sidenav-container>