$theme_color: #4083F2;
$theme_shade: #40AFE5;

//header
.custom_header{
    // background-color: #4083F2;
    background: linear-gradient(to right, $theme_color 40%, $theme_shade 100%);
    box-shadow: 0px 5px 5px #ddd;
    color: white;
    position: fixed;
    z-index: 1;
}

//menu element
.custom_span{
    text-align: center;
    display: inline-block;
    font-size: 11px;
    padding: 0px 5px;
    cursor: pointer;
    margin: 0px 5px;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }   
    &::after {
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: 0px;
        background: red;
    	transition: width .3s ease, background-color .3s ease;
    }
    &:hover::after {
        width: 100%;
    }
}

.custom_icon{
    color: white;
    display: block;
    margin: 0 auto 10px auto;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
}

//sidenav start
.example-container {
    width: 100%;
    border: 2px solid $theme_color;
    background: #EEEEFF;
    border: 5px;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }
//sidenav end  

@media only screen and (min-width: 961px) {
    /* For web: */
    .logo_bg{
        width: 100px;
        background-image: url('../assets/images/my_logo.svg');
        padding: 5px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: 100px;    
        cursor: pointer;
    }

    mat-drawer{
        width: 20%;
    }
}

@media only screen and (max-width: 960px) {
    /* For mobile phones: */
    .logo_bg{
        // width: 50px;
        background-image: url('../assets/images/f_small.svg');
        margin: auto 0;
        text-align: center;
        background-repeat: no-repeat;
        background-size: 20px;
        cursor: pointer;
    }
}