$theme_dark: #406ABA;
$theme_color: #4083F2;
$theme_shade: #40AFE5;
$theme_excel: #00C851;

.custom_theme_bg{
    // background-color: #4083F2;
    background: linear-gradient(to right, $theme_color 40%, $theme_shade 100%);
    color: white;
    z-index: 100;
}

.custom_theme_color{
    color: $theme_color;
}

.custom_theme_btn{
    background: $theme_color;
    color: white;
    &:hover,
    &:focus{
        background-color: $theme_dark;
    }
}

.custom_success_btn{
    background: $theme_excel;
    color: white;
}

::selection { 
    background: $theme_excel;
}

.custom_span{
    text-align: center;
    display: inline-block;
    font-size: 11px;
    padding: 0px 5px;
    cursor: pointer;
    margin: 0px 5px;
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }   
    &::after {
        content: '';
        display: block;
        margin: auto;
        height: 3px;
        width: 0px;
        background: red;
    	transition: width .3s ease, background-color .3s ease;
    }
    &:hover::after {
        width: 100%;
    }
}

.custom_icon{
    color: white;
    display: block;
    margin: 0 auto 10px auto;
    text-align: center;
    font-size: 20px;
    line-height: 50px;
}

//can be deleted later
.example-card {
    max-width: 400px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.example-h2 {
    margin: 10px;
  }
  
  .example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
  }
  
  .example-margin {
    margin: 10px;
  }
//till here

mat-sidenav-container{
    margin-top: 70px;
    background: white;
}
  
.fab-container {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 100;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  
    > div {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 5px;
    
        button {
            margin-bottom: 17px;
        }
    }
}
  
.fab-toggler {
    float: right;
    z-index: 100;
}

.snav-caption{
    // display:inline-block;
    padding: 0 10px 0 10px;
    font-size: 14px;
    font-weight: bold;
}

@media only screen and (min-width: 960px) {
    /* For web: */
    .logo_bg{
        width: 100px;
        background-image: url('../../../assets/images/my_logo.svg');
        padding: 5px;
        text-align: center;
        background-repeat: no-repeat;
        background-size: 100px;    
        cursor: pointer;
    }
}

@media only screen and (max-width: 959px) {
    /* For mobile phones: */
    .logo_bg{
        // width: 50px;
        background-image: url('../../../assets/images/f_small.svg');
        margin: auto 0;
        text-align: center;
        background-repeat: no-repeat;
        background-size: 20px;
        cursor: pointer;
    }
}