<div fxLayout="column">
  <div>
    <mat-toolbar class="custom_theme_bg mat-elevation-z4" fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div fxLayout fxLayoutAlign="space-between center">
        <div class="logo_bg">
          <span style="padding: 0px 10px;"></span>
        </div>
        <div fxLayout fxLayoutAlign="start center" fxShow fxHide.lt-md>
          <div *ngFor="let mItem of menuList; let i=index">
            <span class="custom_span" *ngIf="!mItem.menuTrigger">
              <mat-icon class="custom_icon">{{mItem.icon}}</mat-icon>
              {{mItem.label}}
            </span>

            <span *ngIf="mItem.menuTrigger">
              <span class="custom_span" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="menu"
                (mouseenter)="menuTrigger.openMenu()">
                <!-- <mat-icon class="custom_icon">{{mItem.icon}}</mat-icon> -->
                <mat-icon class="custom_icon" *ngIf="!menuTrigger.menuOpen">expand_more</mat-icon>
                <mat-icon class="custom_icon" *ngIf="menuTrigger.menuOpen">expand_less</mat-icon>
                {{mItem.label}}
              </span>

              <mat-menu #menu="matMenu">
                <span (mouseleave)="menuTrigger.closeMenu()">
                  <button mat-menu-item *ngFor="let sItem of mItem.subItems; let j=index">
                    <mat-icon>{{sItem.icon}}</mat-icon>
                    <span>{{sItem.label}}</span>
                  </button>
                </span>
              </mat-menu>
            </span>
          </div>
        </div>
      </div>
      <div fxLayout fxLayoutAlign="end center">
        <div fxShow fxHide.lt-md>
          <span class="custom_span" (click)="openDialog()">
            <mat-icon class="custom_icon">launch</mat-icon>
            Sign-out
          </span>
        </div>
        <div fxShow fxHide.gt-sm>
          <span class="custom_span" #menuTrigger="matMenuTrigger" [matMenuTriggerFor]="animals">
            <mat-icon class="custom_icon">menu</mat-icon>
            Menu
          </span>

          <mat-menu #animals="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
            <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
          </mat-menu>

          <mat-menu #vertebrates="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
            <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
            <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
            <button mat-menu-item>Birds</button>
            <button mat-menu-item>Mammals</button>
          </mat-menu>

          <mat-menu #invertebrates="matMenu">
            <button mat-menu-item>Insects</button>
            <button mat-menu-item>Molluscs</button>
            <button mat-menu-item>Crustaceans</button>
            <button mat-menu-item>Corals</button>
            <button mat-menu-item>Arachnids</button>
            <button mat-menu-item>Velvet worms</button>
            <button mat-menu-item>Horseshoe crabs</button>
          </mat-menu>

          <mat-menu #fish="matMenu">
            <button mat-menu-item>Baikal oilfish</button>
            <button mat-menu-item>Bala shark</button>
            <button mat-menu-item>Ballan wrasse</button>
            <button mat-menu-item>Bamboo shark</button>
            <button mat-menu-item>Banded killifish</button>
          </mat-menu>

          <mat-menu #amphibians="matMenu">
            <button mat-menu-item>Sonoran desert toad</button>
            <button mat-menu-item>Western toad</button>
            <button mat-menu-item>Arroyo toad</button>
            <button mat-menu-item>Yosemite toad</button>
          </mat-menu>

          <mat-menu #reptiles="matMenu">
            <button mat-menu-item>Banded Day Gecko</button>
            <button mat-menu-item>Banded Gila Monster</button>
            <button mat-menu-item>Black Tree Monitor</button>
            <button mat-menu-item>Blue Spiny Lizard</button>
            <button mat-menu-item disabled>Velociraptor</button>
          </mat-menu>

        </div>
      </div>
    </mat-toolbar>
  </div>
  <div>
    <mat-sidenav-container fxLayout fxLayoutAlign="start center" fullscreen>

      <mat-sidenav mode="side" opened class="mat-elevation-z6" fxFlexAlign="center" fxShow fxHide.lt-md>
        <!-- <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Shiba Inu</mat-card-title>
              <mat-card-subtitle>Dog Breed</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes
                very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card> -->

        <mat-nav-list style="left: 3rem;">
          <a mat-list-item>
            <mat-icon class="custom_theme_color">offline_bolt</mat-icon>
            <span class="snav-caption">Dashboard</span>
          </a>
          <a mat-list-item>
            <mat-icon class="custom_theme_color">account_circle</mat-icon>
            <span class="snav-caption">User</span>
          </a>
          <a mat-list-item>
            <mat-icon class="custom_theme_color">store</mat-icon>
            <span class="snav-caption">Counter</span>
          </a>
        </mat-nav-list>

      </mat-sidenav>

      <mat-sidenav-content fxFlex="1 0 auto">
        <div class="fab-container" (mouseenter)="showItems()" (mouseleave)="hideItems()">
          <button mat-fab class="fab-toggler custom_theme_bg" (click)="onToggleFab()">
            <mat-icon>add</mat-icon>
          </button>
          <div>
            <button *ngFor="let btn of buttons" mat-mini-fab class="fab-secondary" color="secondary">
              <mat-icon matTooltip="{{btn.tooltip}}" [matTooltipPosition]="'left'" matBadge="{{btn.badgeCount}}"
                matBadgeColor="warn">{{btn.icon}}</mat-icon>
            </button>
          </div>
        </div>

        <div style="padding: 20px;">

          <mat-card class="mat-elevation-z6">
            <mat-card-content>

              <div>
                <mat-card>
                  <mat-card-content>
                    <h2 class="example-h2">Slider configuration</h2>

                    <section class="example-section">
                      <label class="example-margin">Color:</label>
                      <mat-radio-group>
                        <mat-radio-button class="example-margin" value="primary">
                          Primary
                        </mat-radio-button>
                        <mat-radio-button class="example-margin" value="accent">
                          Accent
                        </mat-radio-button>
                        <mat-radio-button class="example-margin" value="warn">
                          Warn
                        </mat-radio-button>
                      </mat-radio-group>
                    </section>

                    <section class="example-section">
                      <mat-checkbox class="example-margin">Checked</mat-checkbox>
                    </section>

                    <section class="example-section">
                      <mat-checkbox class="example-margin">Disabled</mat-checkbox>
                    </section>


                    <h2 class="example-h2">Result</h2>

                    <section class="example-section">
                      <mat-slide-toggle class="example-margin" [color]="color" [checked]="checked"
                        [disabled]="disabled">
                        Slide me!
                      </mat-slide-toggle>
                    </section>
                  </mat-card-content>
                </mat-card>
              </div>

              <div>
                <mat-accordion>
                  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Self aware panel
                      </mat-panel-title>
                      <mat-panel-description>
                        Currently I am {{panelOpenState ? 'open' : 'closed'}}

                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <p>I'm visible because I am open</p>
                    Main content
                    <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
                  </mat-expansion-panel>
                </mat-accordion>

                <button mat-raised-button (click)="openDialog()">Open Dialog</button>

                <button mat-raised-button (click)="openBottomSheet()">Open Bottom Sheet</button>

                <button mat-raised-button matTooltip="gh uygik j" class="custom_theme_btn">Tooltip</button>

              </div>

            </mat-card-content>
          </mat-card>
        </div>

      </mat-sidenav-content>

    </mat-sidenav-container>
  </div>
</div>