<div fxLayout.gt-xs="row wrap" fxLayout.lt-sm="column nowrap" fxLayoutAlign="space-evenly start" fxLayoutGap="30px"
  style="padding: 20px;">

  <div fxFlex.gt-xs="30" fxFlex.lt-sm="100" fxFill fxGrow="1" fxShrink="0" fxLayout fxLayoutAlign="center center"
    class="analysis_card" *ngFor="let tab of tabs; let i=index;" [ngClass]="tab_colors[i%4]">

    <div fxFill fxGrow="1" fxShrink="0" fxFlex="20" fxLayout fxLayoutAlign="center center">
      <i class="material-icons" style="font-size: 48px;">{{tab.icon}}</i>
    </div>
    <div fxFill fxGrow="1" fxShrink="0" fxFlex="80" fxLayout="column nowrap" fxLayoutAlign="center end">
      <span class="tab_title">{{tab.title}}</span>
      <span class="tab_count">{{tab.count}}</span>
    </div>

  </div>

</div>