<ngx-spinner bdColor="rgba(51,51,51,0.5)" size="large" color="#fff" type="ball-scale-multiple" fullscreen="true">
  <!-- <p style="font-size: 20px; color: white">Loading...</p> -->
</ngx-spinner>

<div fxLayout.gt-xs="row wrap" fxLayout.lt-sm="row wrap" fxLayoutAlign="space-evenly start" fxLayoutGap="30px"
  style="padding: 20px;">

  <div fxFlex.gt-xs="30" fxFlex.lt-sm="100" fxFill fxGrow="1" fxShrink="0" fxLayout fxLayoutAlign="center center"
    class="analysis_card" *ngFor="let tab of tabs; let i=index;" [ngClass]="tab_colors[i%4]">

    <div fxFill fxGrow="1" fxShrink="0" fxFlex="20" fxLayout fxLayoutAlign="center center">
      <i class="material-icons" style="font-size: 48px;">{{tab.icon}}</i>
    </div>
    <div fxFill fxGrow="1" fxShrink="0" fxFlex="80" fxLayout="column nowrap" fxLayoutAlign="center end">
      <span class="tab_title">{{tab.title}}</span>
      <span class="tab_count">{{tab.dynamic}}</span>
    </div>

  </div>

</div>

<div fxLayout="column nowrap" fxLayoutAlign="space-evenly center" style="padding: 20px 20px 30px 20px">

  <div fxFill fxLayout.lt-sm="column nowrap" fxLayout.gt-xs="row wrap" fxLayoutAlign="space-evenly center"
    fxLayoutGap="30px">
    <mat-icon matTooltip="Sort by 'NAME'" fxFlexAlig="center center" class="sorting_icon"
      [ngClass]="isActiveSort('name') ? 'sorting_icon_selected' : 'sorting_icon_unselected'" (click)="sortMe('name')">
      person
    </mat-icon>

    <mat-form-field class="search_input mat-elevation-z5">
      <mat-icon matPrefix>search</mat-icon>
      <input type="text" matInput placeholder="Enter Name" style="color: red;" [(ngModel)]="userSearch">
    </mat-form-field>

    <mat-icon matTooltip="Sort by 'REMAINING'" fxFlexAlig="center center" class="sorting_icon"
      [ngClass]="isActiveSort('remaining') ? 'sorting_icon_selected' : 'sorting_icon_unselected'"
      (click)="sortMe('remaining')">
      pie_chart
    </mat-icon>
  </div>

  <div fxFill fxLayout="row wrap" fxLayoutAlign="space-evenly start" fxLayoutGap="10px">

    <div fxLayout fxLayoutAlign="center start" fxFlex.gt-xs="19" fxFlex.lt-sm="100" fxGrow="2" fxShrink="0" fxLayout
      *ngFor="let user of userList | search:userSearch | sort:sort_on:reverse" class="list">
      <div fxLayout="column nowrap" fxLayoutAlign="space-evenly center" fxLayoutGap="10px" fxGrow="2" fxShrink="0"
        class="my_card mat-elevation-z5">
        <div>
          <span><img
              [src]="'../../assets/images/'+ (user.hover ? 'batman.jpg' : ('default_' + (user.gender=='male'?'boy':'girl') + '.png'))"
              class="img_top" (mouseenter)="user.hover=true" (mouseleave)="user.hover=false"></span>
        </div>
        <div>
          <div style="padding: 10px 0px;">
            <span class="card_name">{{user.name}}</span>
          </div>
        </div>
        <div fxFill>
          <hr style="border-color: #eee;">
        </div>
        <div fxFill fxLayout fxLayoutGap="10px">
          <div fxFlex="50">
            <span class="card_count_title">Remaining</span><br>
            <span class="card_count">{{user.remaining}}</span>
          </div>
          <div fxFlex="50">
            <span class="card_count_title">Spent</span><br>
            <span class="card_count">{{user.spent}}</span>
          </div>
        </div>
        <div fxFill>
          <button mat-flat-button class="custom_theme_btn" (click)="addExpenses(user)">Expenses</button>
        </div>
      </div>
    </div>

  </div>

</div>