.analysis_card{
    background-color: white;
    padding: 20px;
    // min-height: 100px;
    // border: 1px solid #eee;
    border-radius: 10px;
    // margin: 10px auto;
    cursor: pointer;
}

.tab1{
    background: linear-gradient(to bottom right, #b721ff 40%, #21d4fd 100%);
    // background-color: #9933CC;
    color: white;
    border-color: #8833CC;
    -webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
    &:hover{
        background-color: #AA33BB;
    }
}

.tab2{
    background: linear-gradient(to bottom right, #fee140 40%, #fa709a 100%);
    // background-color: orange;
    color: white;
    border-color: orange;
    -webkit-transition: background-color 1s; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s;
    &:hover{
        background-color: orange;
    }
}

.tab_title{
    letter-spacing: 2px;
    // font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 0;
}

.tab_count{
    letter-spacing: 2px;
    font-size: 15px;
    padding: 5px 0;
}