.dashboard_bg{
    background-color: black; padding: 20px;
}

.my_card{
    cursor: pointer;
    border-radius: 15px;
    background-position: center center;
    background-size: 30%;
    background-repeat: no-repeat;
    min-height: 50px;
    &:hover{
        border: 5px solid black;;
    }
}

.my_card1{
    background-color: #EB663B; 
    background-image: url('../../assets/images/png/alarm-clock.png'); 
    &:hover{
        background-color: #FF663B;
    }     
}

.my_card2{
    background-color: #9C4275;   
    background-image: url('../../assets/images/png/edit.png'); 
    &:hover{
        background-color: #AD2175;
    } 
}

.my_card3{
    background-color: #11B0C5;   
    background-image: url('../../assets/images/png/users.png'); 
    &:hover{
        background-color: #66B0C5;
    } 
}

.my_card4{
    background-color: #FF9617;   
    background-image: url('../../assets/images/png/line-chart.png'); 
    &:hover{
        background-color: #FFA729;
    } 
}

.my_card5{
    background-color: #4caf50;   
    background-image: url('../../assets/images/png/safebox.png'); 
    &:hover{
        background-color: #66bb6a;
    } 
}

.text_tag{
    font-family: Cambria, Georgia, serif;
    color: white; 
    font-weight: bold; 
    font-size: 20px;
    padding: 10px;
}