<div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="center center" class="dashboard_bg">

  <div fxFill fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px">

    <div fxFlex.gt-sm="70%" fxFlex.lt-md="50%" fxLayout="column" fxLayoutGap="10px">

      <div fxFlex="50%" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px">

        <div fxFlex="1 0 auto" fxFlex.gt-sm="60%" fxFlex.lt-md="50%" class="my_card my_card1"></div>
        <div fxFlex="1 0 auto" class="my_card my_card2"></div>

      </div>

      <div fxFlex="50%" fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutGap="10px">

        <div fxFlex="1 0 auto" fxFlex.gt-sm="40%" fxFlex.lt-md="50%" class="my_card my_card3"></div>
        <div fxFlex="1 0 auto" class="my_card my_card4"></div>

      </div>

    </div>

    <div fxFlex="1 0 auto" class="my_card my_card3">

    </div>

  </div>

</div>