<!-- <div>
  <h2 mat-dialog-title style="text-align: center;">Sure?</h2>
  <mat-dialog-content class="mat-typography">
    {{data.message}}
    
  </mat-dialog-content>
  <mat-dialog-actions align="center">
     <button mat-button mat-dialog-close>Cancel</button> 
     <button mat-button class="custom_success_btn" [mat-dialog-close]="true" cdkFocusInitial>Yes</button> 
    <button mat-raised-button class="custom_success_btn">Success</button>
  </mat-dialog-actions>

</div> -->

<!-- <img src="../../assets/images/success.png"> -->

<div fxLayout="column center">
  <div style="text-align: center;">
    <img src="../../assets/images/load_message_success.png" style="width: 160px;">
    <!-- <img src="../../assets/images/load_message_failure.png" style="width: 160px;"> -->
  </div>

  <div class="custom_comic_font">
    <span>Success!</span>
    <!-- <span>Failure!</span> -->
  </div>
  <div class="custom_content_font">
    <span>Yout track is to upto date! Kindly check your mail</span>
  </div>
  <div>
    <button mat-button class="success_btn" [mat-dialog-close]="'yahoooooo'" tabindex="-1">OKAY</button>
    <!-- <button mat-button class="failure_btn" [mat-dialog-close]="'yahoooooo'" tabindex="-1">OKAY</button> -->
  </div>

</div>