# See http://help.github.com/ignore-files/ for more about ignoring files.

open.bat

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/clientS/.sass-cache
/clientS/connect.lock
/clientS/coverage
/clientS/libpeerconnection.log
/clientS/npm-debug.log
/clientS/yarn-error.log
/clientS/testem.log
/clientS/typings

# System Files
.DS_Store
Thumbs.db
