.event_card{
    background-color: #efefef;
    padding: 10px;
    // margin: 10px;
    border: 1px solid black;
    border-left-width: 8px;
    border-left-style: solid;
    border-left-color: black;
}