<div fxLayout="column nowrap" fxLayoutAlign="start center" fxLayoutGap="20px" style="margin-top: 20px;">
  <div fxFill fxFlex="1 1 auto" fxLayout fxLayoutAlign="center center" class="event_card" *ngFor="let event of events">
    <div fxFlex="20%" fxLayout="column" fxLayoutAlign="center center" class="date_card">
      <span class="title">{{giveMeDateMonth(event.date)['d']}}</span>
      <span class="description">{{giveMeDateMonth(event.date)['m']}}</span>
    </div>
    <div fxFlex class="content_card">
      <span class="title">{{event.statement}}</span><br>
      <span class="description">{{event.name}}</span>
    </div>
  </div>
</div>