<div fxLayout fxLayoutAlign="center center">
  <div class="date">
    {{data.date}}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="month">{{months[data.month]}}</div>
    <div class="year">{{data.year}}</div>
  </div>
</div>

<div fxLayout fxLayoutAlign="center center" *ngIf="!type">
  <span class="event" (mouseenter)="showA=true" (mouseleave)="showA=false" (click)="type='anniversary'">
    <i class="material-icons event-circle"> cake </i>
  </span>
  <span class="event" (mouseenter)="showE=true" (mouseleave)="showE=false" (click)="type='event'">
    <i class="material-icons event-circle"> event </i>
  </span>
</div>

<div fxLayout fxLayoutAlign="center center" *ngIf="type">
  <label for="input-file-id" class="input-file-btn">
    <i class="material-icons" style="margin: 0px auto -30px auto;"> attachment </i> Choose Files
  </label>
  <input id="input-file-id" multiple type="file" style="visibility: hidden; position: absolute;" />
</div>