<div fxLayout fxLayoutAlign="center center">
  <div class="date">
    {{data.date}}
  </div>
  <div fxLayout="column" fxLayoutAlign="center center">
    <div class="month">{{months[data.month]}}</div>
    <div class="year">{{data.year}}</div>
  </div>
</div>

<div fxLayout fxLayoutAlign="center center" *ngIf="!type">
  <span class="event" (mouseenter)="showA=true" (mouseleave)="showA=false" (click)="type='anniversary'">
    <i class="material-icons event-circle"> cake </i>
  </span>
  <span class="event" (mouseenter)="showE=true" (mouseleave)="showE=false" (click)="type='event'">
    <i class="material-icons event-circle"> event </i>
  </span>
</div>

<div fxLayout fxLayoutAlign="center center" *ngIf="type">
  <input id="input-file-id" multiple type="file" style="visibility: hidden;" />
  <label for="input-file-id" mat-raised-button color="primary" style="position: absolute">Choose Files</label>
</div>