$theme_dark: #fb8c00;
$theme_color: #ff9800;
$theme_shade: #ffe0b2;
$theme_excel: #00C851;
$border_color: #ccc;

.logo_bg{
    background-image: url('../../assets/images/maple.png');
    text-align: center;
    background-repeat: no-repeat;
    background-size: 35px;
    // cursor: pointer;
}

.custom_theme_bg{
    position: fixed;
    top: 0;
    background: rgba(250,250,250,0.8);
    color: $theme_dark;
    z-index: 100; 
}

.custom_theme_color{
    color: $theme_color;
}

.custom_theme_btn{
    background-color: #fff;
    color: $theme_color;
    border: 1px solid $theme_color;
    transition: all .5s;
    &:hover{
        background-color: $theme_color;
        color: #fff;
    }
}

.custom_success_btn{
    background: $theme_excel;
    color: white;
}

::selection { 
    background: #ccf;
}

.header_icon{
    color: $theme_dark;
    cursor: pointer;
}

.my_body{
    margin-top: 5%;
    min-height: 80%;
}

.my_card{
    background-color: #fff;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 10px;
    // margin-top: 50px;
    text-align: center;
    cursor: pointer;
}

.card_name{
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    color: #666;
    letter-spacing: 3px;
}

.card_title{
    font-size: 15px;
    color: #999;
    letter-spacing: 2px;
}

.card_company{
    font-size: 15px;
    color: #666;
    letter-spacing: 2px;
}

.card_count{
    font-size: 14px;
    color: red;
    letter-spacing: 2px;
    font-weight: bold;
}

.card_count_title{
    font-size: 15px;
    letter-spacing: 2px;
}

.img_top{
    max-width: 80px;
    // margin-top: 70px;
}

.head{
    font-size: 18px;
    color: $theme_color;
}

.head_title{
    font-weight: 550;
    padding: 0.5rem;
}

.sub_count{
    color: $theme_color;
    font-size: 1.5rem;
}

//MONTH CALENDER -start

.calender{
    // border: 1px solid $border_color;
    margin: 20px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.calender_header{
    // border: 1px solid $border_color;
    margin: 10px;
    padding: 10px;
    // border-radius: 5px;
}

.calender_body{
    // border: 1px solid $border_color;
    margin: 10px;
    border-radius: 5px;
}

.day_card{
    border: 1px solid $border_color;
    min-height: 5.5rem;
    // background-color: #d4fc79;
    background-color: white;
    border-radius: 5px;
    margin: 5px auto;
    cursor: pointer;
    transition: background-color .5s;
    &:hover{
        // background-color: #84fab0;
        background-color: #f7f7f7;
    }
}

.day{
    // font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 2rem;
}
.day_event_d{
    font-size: 14px;
    background: #ccc;
    text-align: center;
}
.day_event_p{
    font-size: 14px;
    background: #00C851;
    color: white;
    text-align: center;
}
.day_event_a{
    font-size: 14px;
    background: #f06292;
    color: white;
    text-align: center;
}
.sub_day{
    color: $theme_color;
    font-weight: bold;
}
.month{
    // font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 3rem;
}
.sub_month{
    color: $theme_color;
}
.year{
    // font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 1.5rem;
}

.arrow{
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    border-radius: 100%;
    background-color: $border_color;
    text-align: center;
    transition: background-color .5s;
    &:hover{
        background-color: rgb(158, 146, 146);
    }
}

//end