.progress_bar{
	position: fixed;
	margin-top: 70px;	
}

.logo_bg{
	width: 100px;
	background-image: url('../../assets/images/m1.png');
	padding: 0 5px;
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100px;    
	cursor: pointer;
	overflow: auto;
	opacity: 1;
}

::ng-deep .mat-progress-bar-fill::after {
	background-color: red;
}

::ng-deep .mat-progress-bar-buffer {
	background-color: rgba(0,0,0,0);
}

.custom_theme_btn{
	background: orange;
	color: white;
	&:hover,
	&:focus{
			background-color: red;
	}
}

.custom_theme_btn_blank{
	color: black;
	&:hover,
	&:focus{
			background-color: #fefefe;
	}
}

@media only screen and (min-width: 960px) {
	/* For web: */
	.custom_theme_bg{
    position: fixed;
    background: rgba(256,256,256, 0.4);
    color: white;
		z-index: 100;
		height: 70px; 
		padding: 0 50px;
	}
}

@media only screen and (max-width: 959px) {
	/* For mobile phones: */
	.custom_theme_bg{
    position: fixed;
    background: rgba(256,256,256, 0.4);
    color: white;
		z-index: 100;
		height: 70px; 
		padding: 0 10px;
	}
}

/* Animation */
.typewriter h1 {
	color: white;
	// font-size: 40px;
	-webkit-text-stroke: 1px black;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  // border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  // margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: typewriter 2s steps(30) 1s 1 normal both;
						//  blinkTextCursor 500ms steps(30) infinite normal;
}

// .anim-typewriter{
//   animation: typewriter 4s steps(44) 1s 1 normal both,
// 						 blinkTextCursor 500ms steps(44) infinite normal;
// }
@keyframes typewriter{
  from{width: 0;}
  to{width: 12em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(256,0,0,.75);}
  to{border-right-color: transparent;}
}

.container_panel{
	margin-top: 75px;
	height:  500px;
}

.half_panel{
	padding: 10px;
	
}

.left_panel{
	background: #ccc;
	color: white;
}

.right_panel{
	background: #fff;
	color: black;
}