<div fxLayout="column" style="height: 1000px;" id="body">
    <div>
        <mat-toolbar class="custom_theme_bg" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxLayout fxLayoutAlign="space-between center">
                <div class="logo_bg">
                    <span style="padding: 0px 10px;"></span>
                </div>
                <div fxLayout fxLayoutAlign="start center" fxShow fxHide.lt-md>

                </div>
            </div>
            <div fxLayout fxLayoutAlign="end center" fxLayoutGap="0.4rem">
                <div>
                    <button mat-button class="custom_theme_btn_blank">Basic</button>
                </div>
                <div>
                    <button mat-flat-button class="custom_theme_btn">Tooltip</button>
                </div>
            </div>
        </mat-toolbar>
        <mat-progress-bar class="progress_bar" [value]="height_progress"></mat-progress-bar>
    </div>
    <div>

    </div>
</div>