<div style="height: 2000px;" id="body">
    <div fxLayout class="container_panel">
        <div fxFlex="50%" class="half_panel left_panel" style="color: white; font-size: 20px; font-weight: bold;">
            {{dynamic_statement}}
        </div>
        <div fxFlex="50%" class="half_panel right_panel">
            <div class="typewriter" id="myTypewriter" style="margin: 0 auto;">
                <h1>Hello...</h1>
            </div>
        </div>
    </div>
    <div style="position: sticky; top:0; margin-top: -70px; z-index: 5;">
        <mat-toolbar class="custom_theme_bg" fxLayout="row wrap" fxLayoutAlign="space-between center">
            <div fxLayout fxLayoutAlign="space-between center">
                <div class="logo_bg">
                    <span style="padding: 0px 10px;"></span>
                </div>
                <div fxLayout fxLayoutAlign="start center" fxShow fxHide.lt-md>

                </div>
            </div>
            <div fxLayout fxLayoutAlign="end center" fxLayoutGap="0.4rem">
                <div>
                    <button mat-button class="custom_theme_btn_blank">Basic</button>
                </div>
                <div>
                    <button mat-flat-button class="custom_theme_btn">Tooltip</button>
                </div>
            </div>
        </mat-toolbar>
        <mat-progress-bar class="progress_bar" [value]="height_progress"></mat-progress-bar>
    </div>
</div>