.header {
    position: fixed;
      z-index: 2;
      height: 100px;
    width: 100%; 
      background: rgba(34,34,34,0.25);
      padding: 18px;
      -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}
  
.active {
    background-color: rgba(34,34,34,0.8);
}

//new

.parallax_bg{
  background-image: url('../../assets/images/vf1.jpg');

  /* Set a specific height */
  min-height: 48vw; 
  height: 48vw; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}